<div id="search-user">
  <% if users.any? && no_limit == false %>
    <div class="d-flex">
      <p>more account</p>
      <%= link_to "see all", user_index_path(users: users), class: "" %>
    </div>
  <% end %>

  <% iteration = 0 %>
  <% users.each do |user| %>
    <% if iteration < 3 || no_limit == true %>
      <%= link_to new_conversation_path(conversation, recipient_id: user), class: "chat-item", hiden: true do %>
        <div class="chat-avatar">
          <img class="avatar-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
        <div class="chat-info">
          <div class="chat-name"><%= user.user_name %></div>
        </div>
      <% end %>
    <% end %>
    <% iteration += 1 %>
  <% end %>
</div>
