<%= link_to conversation_path(conversation), class: "chat-item" do %>
  <div class="chat-avatar" id="conversation-<%= interlocutor.id %>">
    <img class="avatar-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  </div>
  <div class="chat-info">
    <div class="chat-name"><%= interlocutor.user_name %></div>
  </div>
<% end %>
