<% messages = conversation.messages.last %>
<%= link_to conversation_path(conversation, anchor: messages.nil? ? "" : "message-#{messages.id}"), class: "chat-item" do %>
  <%= render "conversations/chat_avatar", interlocutor: interlocutor %>
  <div class="chat-info">
    <div class="chat-name"><%= interlocutor.user_name %></div>
  </div>
<% end %>
