<div class="container">
  <% @conversations.each do |conversation| %>
    <div class="conversation">
      <% interlocutor = conversation.interlocutor(current_user) %>
      <h3><%= link_to interlocutor.user_name, conversation_path(conversation), class: "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" %></h3>
    </div>
  <% end %>
</div>
