<div data-controller="search">
  <div class="chat-search-bar">
    <%= form_with url: search_user_path, method: :get, data: { turbo_stream: true, "search-target": "form" } do |f| %>
      <%= f.text_field :query , id: "chat-search-input", data: {"search-target": "input", action: "keyup->search#searchUser"} %>
    <% end %>
  </div>

  <div id="search-conversation"></div>
  <div id="search-user"></div>

  <%= turbo_stream_from "user#{current_user.id}_conversations" %>
  <div class="chat-list-container"  data-search-target="chatList" id="conversations">
    <% @conversations.each do |conversation| %>
      <% interlocutor = conversation.interlocutor(current_user) %>
      <%= render "conversation", conversation: conversation, interlocutor: interlocutor %>
    <% end %>
  </div>
</div>
