<% content_for :unscrollable do %>
<div class="d-flex">
  <%= render "conversation_navbar" %>
</div>
<% end %>

<div data-controller="destroy-navbar"></div>

<div class="container d-flex flex-column min-vh-100 mt-5">
  <div class="flex-grow-1 w-100">
    <%= turbo_stream_from "conversation_#{@conversation.id}_#{current_user.id}" %>
    <div id="messages" class="messages d-flex w-100 flex-column big-margin" data-controller="anchor">
      <% @conversation.messages.each do |message| %>
        <% position = current_user == message.user ? "ms-auto" : "" %>
        <%= render "message", message: message, position: position, last_message: @conversation.messages.last %>
      <% end %>
    </div>
  </div>

  <div class="position-fixed start-0 end-0 bg-white px-3 py-2 border-top" style="bottom: 64px; z-index: 1030;">
    <%= render "message_input", use_turbo: true %>
  </div>
</div>
