<%= render "partial/nav_bar1" %>
<%= render "partial/back_button" %>

<div class="container-fluid p-0 vh-100 d-flex flex-column">

  <!-- Title -->
  <div class="px-3 mt-2">
    <h6 class="text-muted">notifications</h6>
  </div>

  <!-- Notification List -->
  <%= turbo_stream_from "notification_#{current_user.id}" %>
  <div class="flex-grow-1 overflow-auto px-3" id="notifications">
    <% @notifications.each do |notification| %>
      <%= render "notification", notification: notification %>
    <% end %>
  </div>

</div>
