<div class="d-flex justify-content-between mt-3">
  <%= link_to edit_profile_path , class:"btn btn-secondary px-4 py-0" do %>
    <p>Edit Profile</p>
  <% end %>
  <%= link_to settings_path, class:"btn btn-secondary px-4 py-0" do %>
    <p>Settings</p>
  <% end %>
</div>
