<div class="d-flex mt-3" id="user-controll">
  <% if current_user.subscribed?(@user) %>
    <%= button_to "Unsubscribe", subscription_path(current_user.subscription(@user), user_id: @user), method: :delete, class: "btn btn-secondary ms-2 px-3" %>
  <% else %>
    <%= button_to "Subscribe", subscriptions_path(user_id: @user), method: :post, class: "btn btn-primary ms-2 px-3" %>
  <% end %>
  <%= link_to "message", new_conversation_path(Conversation.new, recipient_id: @user), class: "btn btn-secondary px-3"  %>
</div>
