<div class="d-flex mt-3">
  <% if current_user.subscribed?(@user) %>
    <%= button_to "Unsubscribe", unsubscribe_user_path(@user), method: :delete, class: "btn btn-secondary ms-2 px-3", data: { turbo_confirm: "Are you sure you want to unsubscribe?" } %>
  <% else %>
    <%= button_to "Subscribe", subscribe_user_path(@user), method: :post, class: "btn btn-primary ms-2 px-3" %>
  <% end %>
  <%= link_to "message", new_conversation_path(Conversation.new, recipient_id: @user), class: "btn btn-secondary px-3"  %>
</div>
